
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index">
                    <img src="~/Content/GLALOGO1.png" style="width: 30px; height: 30px; margin-top: 10px; margin-right: 5px; margin-left: 10px">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Event", "Index", "Event")</li>
                    <li>@Html.ActionLink("Donate", "../Donation/Create", new { eventId = 0 })</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Help", "Index", "Help")</li>

                    @{ if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="text-body" style="background-color: white; border-top-left-radius: 6px; border-top-right-radius: 6px; padding-bottom: 15px; padding-top: 15px">
                <p style="text-align: center; font-size: 14px">
                    This site is managed for Great Lakes Alliance, LLC. | © @DateTime.Now.Year GLA. All rights reserved.
                </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
