@model GreatLakesAlliance.Models.EventDataModel

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top: 60px">Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.eventName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventStartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventStartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volunteersNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volunteersNeeded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
