@model GreatLakesAlliance.Models.EventDataModel

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top: 75px">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventName)
        </dd>

        <dt>
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventStartDate)
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventEndDate)
        </dd>

        <dt>
            Start Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>

        <dt>
            End Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endTime)
        </dd>

        <dt>
            Volunteers Needed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volunteersNeeded)
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @{ if (User.IsInRole("Admin"))
        {
            <a>@Html.ActionLink("Edit", "Edit", new { id = Model.eventId }) |</a>
        }
    }
    @Html.ActionLink("Back to Events", "Index") |
    @Html.ActionLink("Sign Up For Event", "NotRealVolunteer", new { id = Model.eventId }) |
    @Html.ActionLink("Donate  to Event", "Create", "Donation", new { eventId = Model.eventId }, new { eventId = Model.eventId })
</p>
