@model GreatLakesAlliance.Models.EventDataModel

@{
    ViewBag.Title = "Edit";
}

@section Scripts {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <link href="~/Scripts/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.timepicker.js"></script>

    <script>
        $(document).ready(function () {
            $('#eventStartDate').daterangepicker({
                opens: 'left'
            });

            $('#startTime').timepicker({
                'scrollDefault': 'now'
            });

            $('#endTime').timepicker({
                'scrollDefault': 'now',
            });
        });

        $('#startTime').keydown(function () {
            return false;
        })

        $('#endTime').keydown(function () {
            return false;
        })
    </script>
}

<h2 style="margin-top: 75px">Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.eventId)

    <div class="form-group">
        <div class="control-label col-md-2">
            Event Name
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.eventName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.eventName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            Event Dates
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.eventStartDate, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.eventStartDate, "", new { @class = "text-danger" })
        </div>
    </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.eventEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eventEndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.eventEndDate, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="control-label col-md-2">
                Volunteers Needed
            </div>
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.volunteersNeeded, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.volunteersNeeded, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Location
            </div>
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Start Time
            </div>
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.startTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.startTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                End Time
            </div>
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.endTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.endTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Description
            </div>
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        
    </div>
}

<div class="form-group">
    <div class="col-md-offset-2" >
        <input value="Back" class="btn btn-default" style="width: 75px" onclick="location.href='@Url.Action("", "Event")'" />
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
