@model GreatLakesAlliance.Models.DonorDataModel

@{
    ViewBag.Title = "Create";
}

<h2 style="margin-top: 75px">Donate</h2>

@{
    string eventId;

    if ((String)ViewData["Message"] == "0")
    {
        eventId = (String)ViewData["Message"];
    }
    else
    {
        eventId = (String)ViewData["Message"];
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#cardNum').on('keyup', function () {
            var foo = $(this).val().split(" ").join("");
            if (foo.length > 0) {
                foo = foo.match(new RegExp('.{1,4}', 'g')).join(" ");
            }
            $(this).val(foo);
        });

        $('#expDate').on('keyup', function () {
            var foo = $(this).val().split("/").join("");
            if (foo.length > 0) {
                foo = foo.match(new RegExp('.{1,2}', 'g')).join("/");
            }
            $(this).val(foo);
        })
    </script>
}

@using (Html.BeginForm(new { @eventId = eventId }))
{
    @Html.AntiForgeryToken()

   

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">e
                @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="control-label col-md-2">
                Card Number
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cardNumber, new { htmlAttributes = new { @class = "form-control", @MaxLength = 19, id = "cardNum", required = "required" } })
                @Html.ValidationMessageFor(model => model.cardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Expiration Date (MM/YY)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.expirationDate, new { htmlAttributes = new { @class = "form-control", id = "expDate", @MaxLength = 5, required = "required" } })
                @Html.ValidationMessageFor(model => model.expirationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                CCV
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ccv, "{MM/yyyy}",new { htmlAttributes = new { @class = "form-control", id = "ccv", @MaxLength = 3, required = "required" } })
                @Html.ValidationMessageFor(model => model.ccv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Amount
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", id = "amount" } })
                @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Donate To
            </div>
            <div class="col-md-10">
                @Html.DropDownList("Events", null, "Great Lakes Alliance", new { @class = "form-control", id = "dropDownList" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Donate" class="btn btn-default" />
                <div class="label-warning" style="margin-top: 10px; width: 80%">
                    *NOTE: ONCE YOU HIT 'DONATE' YOU WILL BE UNABLE TO CHANGE ANY OF THE IMFORMATION ABOVE*
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("View Previous Donations", "Index")
</div>


