@model IEnumerable<GreatLakesAlliance.Models.DonorDataModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { eventId = 0 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ccv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orgEvent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ccv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orgEvent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
