@model IEnumerable<GreatLakesAlliance.Models.DonorDataModel>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top: 75px">Donations</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { eventId = 0 }) 
</p>

<div class="label-warning col-md-7" style="margin-bottom: 10px">
    *NOTE: IF ANY INFORMATION BELOW IS INCORRECT. PLEASE CONTACT SUPPORT*
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ccv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ccv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
    </tr>
}

@if(Model.Count() == 0)
{
    <tr>
        <td>
            You do not have any previous donations.
        </td>
    </tr>
    
}

</table>
