@model IEnumerable<GreatLakesAlliance.Models.DonorDataModel>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top: 75px">Previous Donations</h2>

<div style="margin-bottom: 15px">
    <div>
        <input style="width: 100px" type="submit" value="Donate" class="btn btn-default" style="width: 150px" onclick="location.href='@Url.Action("Create", "Donation", new { eventId = 0 })'" />
    </div>
</div>

<div class="label-warning col-md-7" style="margin-bottom: 10px">
    *NOTE: IF ANY INFORMATION BELOW IS INCORRECT. PLEASE CONTACT SUPPORT*
</div>

<table class="table">
    <tr>
        <th>
            Card Number
        </th>
        <th>
            Exp Date
        </th>
        <th>
            CCV
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ccv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
    </tr>
}

@if(Model.Count() == 0)
{
    <tr>
        <td>
            You do not have any previous donations.
        </td>
    </tr>
    
}

</table>
